/* .swiper {
  width: 200px;
  height: 300px;
} */
.swiper-wrapper {
  height: 31% !important;
}
.swiper-slide {
  width: 35% !important;
  margin-right: 6px !important;
}

/* .swiper-slide{

} */

.swiper {
  width: 100%;
  height: 100%;
}

.category-header {
  background-color: #3f9bdf;
  padding: 10px;
  margin-bottom: 20px;
  position: relative;
  color: white;
  font-weight: 700;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.category-header::before {
  content: "";
  position: absolute;
  width: 5px;
  /* height: 50px; */
  height: 60px;
  background: #245b86;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  /* border-top-left-radius: 5px;
  border-bottom-left-radius: 5px; */
}

.icon-holder {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #245b86;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .swiper-slide {
    margin-right: 20px !important;
  }
}
